Flask==3.0.3
flask-mysqldb==2.0.0
mysql-connector-python==9.2.0
PyMySQL==1.1.1
mysqlclient==2.2.7
nltk==3.9.1
matplotlib
arabic-reshaper
python-bidi
wordcloud
openai
transformers
torch
keybert
python-docx
camel-tools==1.4.1
scipy
xlsxwriter
python-dotenv
anthropic==0.45.2
google-generativeai==0.8.4
email-validator
requests 
